# virtuals
*/venv

# default recording
*/audio.wav

.github/*.md

transcripts/

*/__pycache__/
.claude
.idea
.vscode
.codex
*.ini
utils/*.ini
utils/mount_nas.sh

whisper_text_extraction/*.wav
*/*.log
